%label{:for => "action[title]"} Title
%textarea.bubbling{:cols => "30", :id => "action[title]", :name => "textarea", :rows => "5", :wrap => "wrap"} Some text and {{InputHere}} and {{FakeBubble}} and lowercase {{inputHere}}
  
%label{:for => "action[desc]"} Description
%textarea.bubbling{:cols => "30", :id => "action[desc]", :name => "textarea", :rows => "5", :wrap => "wrap"} {{Time}} at {{Location}}

  
%label{:for => "action[opt2]"} Description
%textarea.bubbling{:cols => "30", :id => "action[desc]", :name => "textarea", :rows => "5", :wrap => "wrap"} {{Date} at {{Time}}
  
%label{:for => "action[opt3]"} Description
%textarea.bubbling{:cols => "30", :id => "action[desc]", :name => "textarea", :rows => "5", :wrap => "wrap"} {{date} or {date}}
  

  
%textarea{:placeholder => 'Escape?'}