%h3 Automatic toggling based on interaction

%label{:for => "action[title]"} Title
%textarea.bubbling{:cols => "30", :id => "action[title]", :name => "textarea", :rows => "5", :wrap => "wrap"} Some text and {{InputHere}} and {{FakeBubble}} and lowercase {{inputHere}}
  
%label{:for => "action[desc]"} Description
%textarea.bubbling{:cols => "30", :id => "action[desc]", :name => "textarea", :rows => "5", :wrap => "wrap"} {{Time}} at {{Location}}

  
%label{:for => "action[notes]"} Notes
%textarea.bubbling{:cols => "30", :id => "action[notes]", :name => "textarea", :rows => "5", :wrap => "wrap"} {{Date} at {{Time}}
  
%h3 Maintain raw view until revoked

%label{:for => "action_title2"} Title
%textarea.bubbling-manual-toggle{:cols => "30", :id => "action_title2", :name => "textarea", :rows => "5", :wrap => "wrap"} {{InputHere}}.
%div
  %button#show_bubbling_title_2 Show Bubbling Above

%label{:for => "action_desc2"} Description
%textarea.bubbling-manual-toggle{:cols => "30", :id => "action_desc2", :name => "textarea", :rows => "5", :wrap => "wrap"} {{Date}} {{Time}} at {Location}
%div
  %button#show_bubbling_desc_2 Show Bubbling Above


%br
%h3 Just a plain textarea
  
%textarea{:placeholder => 'No bubbling here'}