// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body, h1, p {
  font-family: "Helvetica Neue", Arial, Helvetica, FreeSans, "Nimbus Sans", "Phetsarath OT", Malayalam, "Gargi_1.7", sans-serif;
}
code, pre {
  font-family: Menlo, "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", Monaco, monospace;
}
img.fit { max-width: 100%;}
.fit, .nofit {
  cursor: pointer;
}

.bubbling {
  position: relative;
  .mask, .source {
    // Want these to be exactly the same
    display: block;
    border: 1px inset #555;
    color: black;
    background-color: white;
    padding: 5px;
    font-size: 16px;
    margin: 0;
    font-family: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.bubbling-bubble {
  @include border-radius(1em);
  background: lightblue;
}
.bubbling-invis-brackets {
  color: transparent;
  // If not universally supported, a height of 0 or 1 px 
  // would probably be a good hack (display inline block?)
}

// SIZING AND POSITIONING STUFF
.bubbling {
  z-index: 1;
  .mask-in-front {
    z-index: 6;
  }
  .source {
    z-index: 4;
  }
  .mask-behind {
    z-index: 2;
  }
}

// Mask on top
.bubbling .mask-on-top {
  pointer-events: none;
}

// TEMPORARY SIZE HACK just to save time
.bubbling {
  height: 65px;
}
.bubbling .source {
  height: 50px;
  resize: none;
}
// END SIZE HACK.
// @todo: glom