// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body, h1, p {
  font-family: "Helvetica Neue", Arial, Helvetica, FreeSans, "Nimbus Sans", "Phetsarath OT", Malayalam, "Gargi_1.7", sans-serif;
}
code, pre {
  font-family: Menlo, "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", Monaco, monospace;
}

textarea {
  display: block;
  border: 1px inset #555;
  color: black;
  background-color: white;
  padding: 5px;
  font-size: 16px;
  margin: 0;
  font-family: inherit;
}

h3 {
  font-size: 120%;
  font-weight: bold;
  margin: 1.25em 0;
}

// EXAMPLE STYLES
.bubbling-bubble {
  @include border-radius(1em);
  background: lightblue;
}
.bubbling-erroneous-bubble {
  color: #c00;
}

@import 'bubbling'